language: php

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4snapshot
before_script:
  - composer self-update
  - composer install
script:
  - vendor/bin/phing
  - >
    wget https://github.com/maglnet/ComposerRequireChecker/releases/download/0.2.1/composer-require-checker.phar
    && php composer-require-checker.phar check composer.json
