includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- rules.neon

parameters:
	excludes_analyse:
		- */tests/*/data/*
	ignoreErrors:
		- '~^Parameter \#1 \$node \(.*\) of method .*Rule::processNode\(\) should be compatible with parameter \$node \(PhpParser\\Node\) of method PHPStan\\Rules\\Rule::processNode\(\)$~'

services:
	scopeIsInClass:
		class: PHPStan\Internal\ScopeIsInClassTypeSpecifyingExtension
		arguments:
			isInMethodName: isInClass
			removeNullMethodName: getClassReflection
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension

	scopeIsInTrait:
		class: PHPStan\Internal\ScopeIsInClassTypeSpecifyingExtension
		arguments:
			isInMethodName: isInTrait
			removeNullMethodName: getTraitReflection
		tags:
			- phpstan.typeSpecifier.methodTypeSpecifyingExtension
