includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- rules.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
	excludePaths:
		- tests/*/data/*
