parameters:
	polluteScopeWithLoopInitialAssignments: false
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkFunctionNameCase: true

rules:
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
	- PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
	- PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
	- PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
	- PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
	- PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
	- PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
	- PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
