parameters:
	polluteScopeWithLoopInitialAssignments: false
	polluteScopeWithAlwaysIterableForeach: false
	checkAlwaysTrueCheckTypeFunctionCall: true
	checkAlwaysTrueInstanceof: true
	checkAlwaysTrueStrictComparison: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	reportMaybesInMethodSignatures: true
	reportStaticMethodSignatures: true
	reportMaybesInPropertyPhpDocTypes: true

rules:
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanAndRule
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanNotRule
	- PHPStan\Rules\BooleansInConditions\BooleanInBooleanOrRule
	- PHPStan\Rules\BooleansInConditions\BooleanInElseIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInIfConditionRule
	- PHPStan\Rules\BooleansInConditions\BooleanInTernaryOperatorRule
	- PHPStan\Rules\Classes\RequireParentConstructCallRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedBacktickRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedEmptyRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
	- PHPStan\Rules\DisallowedConstructs\DisallowedShortTernaryRule
	- PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
	- PHPStan\Rules\ForLoop\OverwriteVariablesWithForLoopInitRule
	- PHPStan\Rules\Functions\ClosureUsesThisRule
	- PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
	- PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
	- PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
	- PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
	- PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
	- PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
	- PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
	- PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
	- PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
	- PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
	- PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsCallableRule
	- PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
	- PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
	- PHPStan\Rules\VariableVariables\VariableMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableMethodCallableRule
	- PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
	- PHPStan\Rules\VariableVariables\VariableStaticMethodCallableRule
	- PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
	- PHPStan\Rules\VariableVariables\VariableVariablesRule

services:
	-
		class: PHPStan\Rules\BooleansInConditions\BooleanRuleHelper

	-
		class: PHPStan\Rules\Cast\UselessCastRule
		arguments:
			treatPhpDocTypesAsCertain: %treatPhpDocTypesAsCertain%
		tags:
			- phpstan.rules.rule

	-
		class: PHPStan\Rules\Operators\OperatorRuleHelper
	-
		class: PHPStan\Rules\VariableVariables\VariablePropertyFetchRule
		arguments:
			universalObjectCratesClasses: %universalObjectCratesClasses%
		tags:
			- phpstan.rules.rule
